<h1 style="margin-bottom: 1rem;">Penempatan Pesanan Baru</h1>
	
	<p>Anda menerima pesanan baru. Berikut terlampir file dokumen untuk diproses.</p>

	<ul>
		<li><a href={{link}}>Dokumen</a></li>
	</ul>

<p>Terima kasih.</p>
