<h1>Penempatan Pesanan</h1>
<p>Pesanan Anda telah ditempatkan ke departemen terkait untuk kemudian diproses</p> 
<ul >
  {{#each link}}
    <li><a href={{this}}>Dokumen</a></li>
  {{/each}}
</ul>
    