<h1 style="margin-bottom: 1rem;">Pesanan Selesai</h1>

<p>Pesanan Anda telah selesai diproses oleh departemen terkait</p>

<ul>
    {{#each link}}
     <li><a href={{this}}>Dokumen</a></li>
    {{/each}}
</ul>

<p>Terima kasih.</p>